.displayPicture {
    color: #eeeeee;
    height: 250px !important;
    width: 260px !important;
    font-family: 'Lilita One';
    font-size: 30px;
    align-content: center;
    text-align: center;
}

.ui.vertical.ui.push.left.visible.sidebar.menu {
    background-color: #4ECDC4 !important;
}

.SiteContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.SideBar {
    height: 100vh;
    width: 250px;
    font-family: 'Lilita One';
    font-size: 30px;
}

.topicArea {
    color: #36494E;
    height: calc(100% - 250px);
    background-color: #4ECDC4;
}

.terminalBar {
    height: 2rem; 
    background-color: #f7fff7;
    color: #1A535C;
    font-family: 'Dosis';
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
}

.terminalView {
    flex-grow: 2;
    color: #eeeeee;
    top: 2rem;
    background-color: #1A535C;
    font-family: 'Dosis';
    font-size: 20px;
    height: 100%;
}

.terminal {
    margin-left: 260px;
    width: calc(100% - 260px);
}

.WIP {
    text-align: center;
    padding-top: 5%;
    background-color: #1A535C;
}

body {
    margin: 0px;
    padding: 0px;
}

.sidebarPic { 
    margin: auto;
    top: 8%;
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

strong {
    color: #FF6B6B;
}

h1 {
    color: #FF6B6B;
}