.displayPicture {
    color: #36494E;
    height: 250px;
    background-color: #e5e1ee;
}

.SiteContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.SideBar {
    height: 100vh;
    width: 250px;
    background-color: #c9e4e7;
}

.topicArea {
    color: #36494E;
}

.terminalView {
    flex-grow: 2;
    color: #04e824;
    height: 100vh;
    background-color: black;
    margin: 8px;
    margin-top: 2rem;
}

body {
    margin: 0px;
    padding: 0px;
}